<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{fragment :: meta}"></div>

    <div th:replace="~{fragment :: styles}"></div>

    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <title>民宿詳細</title>
</head>

<body>
    <div class="samuraitravel-wrapper">
        <div th:replace="~{fragment :: header}"></div>

        <main>
            <div class="container pt-4 pb-5 samuraitravel-container">
                <div class="row justify-content-center">
                    <div class="col-xxl-9 col-xl-10 col-lg-11">
                        <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/houses}">民宿一覧</a></li>
                                <li class="breadcrumb-item active" aria-current="page">民宿詳細</li>
                            </ol>
                        </nav>

                        <h1 class="mb-4 text-center" th:text="${house.name}"></h1>
                        <div th:if="${successMessage}" class="alert alert-info">
                            <span th:text="${successMessage}"></span>
                        </div>
                        <div th:if="${errorMessage}" class="alert alert-danger">
                            <span th:text="${errorMessage}"></span>
                        </div>
                        <div class="mb-4">
                            <img th:if="${house.imageName}" th:src="@{/storage/__${house.imageName}__}" class="w-100"
                                alt="民宿画像">
                            <img th:unless="${house.imageName}" th:src="@{/images/noImage.png}" class="w-100"
                                alt="NO IMAGE">
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 container mb-4">
                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">民宿名</span>
                                        </div>

                                        <div class="col">
                                            <span th:text="${house.name}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">説明</span>
                                        </div>

                                        <div class="col">
                                            <span class="samuraitravel-pre-wrap" th:text="${house.description}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">宿泊料金</span>
                                        </div>

                                        <div class="col">
                                            <span
                                                th:text="${#numbers.formatInteger(house.price, 1, 'COMMA') + '円'}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">定員</span>
                                        </div>

                                        <div class="col">
                                            <span th:text="${house.capacity + '人'}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">郵便番号</span>
                                        </div>

                                        <div class="col">
                                            <span th:text="${house.postalCode}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">住所</span>
                                        </div>

                                        <div class="col">
                                            <span th:text="${house.address}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">電話番号</span>
                                        </div>

                                        <div class="col">
                                            <span th:text="${house.phoneNumber}"></span>
                                        </div>
                                    </div>
                                </div>

                                <div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>が必要です。</p>
                                            <button type="submit"
                                                class="btn text-white shadow-sm w-100 samuraitravel-btn"
                                                disabled>予約する</button>
                                        </div>
                                    </div>
                                </div>
                                <div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <form method="post"
                                                th:action="@{/houses/__${house.id}__/reservations/input}"
                                                th:object="${reservationInputForm}">
                                                <div class="form-group mb-2">
                                                    <label for="fromCheckinDateToCheckoutDate"
                                                        class="col-form-label text-md-left fw-bold">チェックイン・チェックアウト</label>
                                                    <div th:if="${#fields.hasErrors('checkinDate')}"
                                                        class="text-danger small mb-2" th:errors="*{checkinDate}"></div>
                                                    <div th:if="${#fields.hasErrors('checkoutDate')}"
                                                        class="text-danger small mb-2" th:errors="*{checkoutDate}">
                                                    </div>
                                                    <!-- エラー発生時、チェックイン・チェックアウト日の入力に不備がない場合は以前の入力値を表示する -->
                                                    <input type="text" class="form-control"
                                                        id="fromCheckinDateToCheckoutDate" th:value="${previousDates}"
                                                        readonly>
                                                    <input type="hidden" th:field="*{checkinDate}">
                                                    <input type="hidden" th:field="*{checkoutDate}">
                                                </div>

                                                <div class="form-group mb-4">
                                                    <label for="numberOfPeople"
                                                        class="col-form-label text-md-left fw-bold">宿泊人数</label>
                                                    <div th:if="${#fields.hasErrors('numberOfPeople')}"
                                                        class="text-danger small mb-2" th:errors="*{numberOfPeople}">
                                                    </div>
                                                    <input type="number" class="form-control"
                                                        th:field="*{numberOfPeople}" min="1">
                                                </div>

                                                <div class="form-group">
                                                    <button type="submit"
                                                        class="btn text-white shadow-sm w-100 samuraitravel-btn">予約する</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- レビューセクション -->
                        <div class="container px-0">
                            <h2 class="mb-4 text-center">レビュー</h2>
                            <div sec:authorize="isAuthenticated()" th:unless="${hasUserAlreadyReviewed}"
                                class="row justify-content-center mb-4">
                                <div class="col-lg-4">
                                    <a th:href="@{/houses/__${house.id}__/reviews/register}"
                                        class="btn text-white shadow-sm w-100 samuraitravel-btn">レビューを投稿する</a>
                                </div>
                            </div>
                            <div th:if="${#lists.isEmpty(newReviews)}" class="mb-4">
                                <p class="text-center">まだレビューがありません。</p>
                            </div>
                            <div th:unless="${#lists.isEmpty(newReviews)}"
                                class="row row-cols-1 row-cols-md-2 g-4 mb-4">
                                <div th:each="review : ${newReviews}">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <h5 class="card-title" th:text="${review.user.name}"></h5>
                                                    <span sec:authorize="isAuthenticated()"
                                                        th:if="${#authentication.principal.user.id == review.user.id}">
                                                        <a th:href="@{/houses/__${house.id}__/reviews/__${review.id}__/edit}"
                                                            class="me-2">編集</a>
                                                        <a href="#" class="samuraitravel-link-danger"
                                                            data-bs-toggle="modal"
                                                            th:data-bs-target="${'#deleteReviewModal' + review.id}">削除</a>
                                                        <!-- 削除用モーダル -->
                                                        <div class="modal fade"
                                                            th:id="${'deleteReviewModal' + review.id}" tabindex="-1"
                                                            th:aria-labelledby="${'deleteReviewModalLabel' + review.id}">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            th:id="${'deleteReviewModalLabel' + review.id}"
                                                                            th:text="${house.name + 'のレビューを削除してもよろしいですか？'}">
                                                                        </h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="閉じる"></button>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <form method="post"
                                                                            th:action="@{/houses/__${house.id}__/reviews/__${review.id}__/delete}">
                                                                            <button type="submit"
                                                                                class="btn samuraitravel-btn-danger text-white shadow-sm">削除</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </div>
                                                <p class="card-text mb-1">
                                                    <span class="samuraitravel-star"
                                                        th:each="star : ${#numbers.sequence(1, 5)}"
                                                        th:text="${star <= review.score} ? '&#9733;' : '&#9734;'"></span>
                                                </p>
                                                <p class="card-text"><small class="text-muted"
                                                        th:text="${#dates.format(review.createdAt, 'yyyy年MM月dd日')}"></small>
                                                </p>
                                                <p class="card-text" th:text="${review.content}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mb-4" th:if="${totalReviewCount > 6}">
                                <a th:href="@{/houses/__${house.id}__/reviews}">すべてのレビューを見る</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div th:replace="~{fragment :: footer}"></div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
    <!-- Flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script th:src="@{/js/flatpickr.js}"></script>
</body>

</html>